@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:darkolivegreen;
}
h1 {
    color:bisque;
}
h2 {
    color:antiquewhite;
}
h3{
    color:antiquewhite;
}

.ordered_list {
    color:burlywood;
    font-weight: 702;
    font-size: 20px;
}

.unordered_list {
    color:burlywood;
    font-weight: 702;
    font-size: 20px;
}

a{
    font-size: 22px;
    color:olive;
}

button{
    color:lightgoldenrodyellow;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 300px;
    margin-left: 40px;
    margin-top: -40px;
    transition: all 200ms linear;

}

button:hover {
    transform: scale(1.1);
    transition: all 200ms linear;

}

img {
    max-height: 300px;
    
}

.image {
    text-align: center;
}